# Show effective git config in a repo: git config --list --show-origin

# Some parts are overwritten by sync.sh because we want to use $DOTFILES instead of hard-coding paths. Git config does not support expansion

[user]
  name = Moritz Hoffmann

[core]
  editor = vim
  excludesfile = /Users/mo/.dotfiles/git/global.gitignore
  attributesfile = /Users/mo/.dotfiles/git/global.gitattributes
  pager = diff-so-fancy | less --tabs=4 -RFX
  #pager = delta --dark

[interactive]
  diffFilter = delta
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

# Order matters using this approach - last matching directive is used
[includeIf "gitdir:~/dev/"]
  path = /Users/mo/.dotfiles/git/dev.gitconfig
[includeIf "gitdir:~/dev/fpcomplete/"]
  path = /Users/mo/.dotfiles/git/fpco.gitconfig
