name: Continuous Integration
on: [push]

jobs:
  cancel-redundant-workflows:
    name: Cancel redundant workflows
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
  install-and-sync:
    name: Run install.sh
    strategy:
      matrix:
        os: [
          # ubuntu-20.04,
          # ubuntu-18.04,
          # ubuntu-16.04,
          macos-10.15
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Symlinking working dir into home dir
        run: ln -s $(pwd) ~/.dotfiles
      - name: Run install.sh
        run: ./install.sh
      - name: Run sync.sh
        run: ./sync.sh
        shell: zsh {0}
      - name: Source zsh
        run: |
          source ~/.zshrc
          weather odessa
        shell: zsh {0}
